<h1><%= t('.your_profile') %></h1>

<% if @user.avatar_url.present? %>
  <p><%= image_tag(@user.avatar_url, alt: t('.your_profile')) %></p>
<% end %>

<p><strong><%= t('.full_name') %>:</strong> <%= @user.full_name %></p>
<p><strong><%= t('.email') %>:</strong> <%= @user.email %></p>

<%= link_to t('.back_to_dashboard'), root_path %>