<h1><%= t('.edit_profile', name: @user.full_name) %></h1>

<% if @user.avatar_url.present? %>
  <p><%= image_tag(@user.avatar_url, alt: t('.your_profile')) %></p>
<% end %>

<p><strong><%= t('.full_name') %>:</strong> <%= @user.full_name %></p>
<p><strong><%= t('.email') %>:</strong> <%= @user.email %></p>

<%= form_with model: @user, url: admin_user_path(@user), method: :patch do |f| %>
  <div>
    <label for="role"><strong><%= t('.role') %>:</strong></label>
    <%= f.collection_select :role_id, @roles, :id, :name, {}%>
  </div>
  
  <%= f.submit t('.update_role')%>
<% end %>

<%= link_to t('.back_to_users'), admin_users_path %>
