<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>GoogleOauthDevise</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
        .flash__alert   { color: red; }
        .flash__notice  { color: blue; }
        .flash__success { color: green; }
        body { direction: <%= I18n.locale == :ar ? 'rtl' : 'ltr' %>; }
    </style>
  </head>

  <body>

    <% if flash.any? %>
      <% flash.each do |key, value| -%>
        <section class="flash flash__<%= key %>"><%= value.html_safe %></section>
      <% end -%>
    <% end %>
    <%= yield %>
    <div class="language-switcher">
      <%= link_to 'English', switch_locale_path(locale: 'en') %> |
      <%= link_to 'العربية', switch_locale_path(locale: 'ar') %>
    </div>
  </body>
</html>

